@media (min-width: 600px){
  main{
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: auto;
    grid-template-areas: 
      "a   b   c"
  }

  nav, aside, #content{
    width: auto;
    height: auto;
  }

  nav{
    grid-area: a;
  }
  aside{
    grid-area: b;
  }
  #content{
    grid-area: c;
  }
}

