@media (min-width: 600px){
  main{
    flex: grid;
    grid-template-columns: 100px, auto, 100px;
    grid-template-rows: 100%;
  }

  nav, aside, #content{
    grid-row-start: 1;
    grid-row-end: 2;
  }

  nav{
    grid-column-start: 1;
    grid-column-end: 2;
  }
  aside{
    grid-column-start: 3;
    grid-column-end: 4;
  }
  #content{
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

