<!DOCTYPE html>
<html>
<head>
    <title>Not Found</title>
</head>
<body>
<main>
    <section>
        <h1>Nothing for humans to see here</h1>
        <p>You typed in <%= request.path %></p>
    </section>
</main>
</body>
</html>